{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>
    
    <div class="form-group">
        <form action="{% url 'edit' title %}" method="post">
            {% csrf_token %}
            <textarea class="form-control" name="content" id="content" cols="30" rows="10">{{ content }}</textarea>
            <br>
            <button class="btn btn-primary" type="submit" onclick = "return confirm('Are you sure you want to edit this page?')">Save</button>
        </form>
    </div>

{% endblock %}